* {
    box-sizing: border-box;
}
body {
    color: white;
    font-family: "Crushed", sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}
h1, h2, h3, h4 {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
    background-color: gray;
    border-radius: 10px;
    border: black 3px solid;
    margin: 0 auto;
}
li {
    margin-bottom: 10px;
}

header {
    background-color: #FF6F91;
    border: black 7px solid;
    border-radius: 10px;
}
#title {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    padding: 20px;
}
h1 {
    padding: 40px 20px;
    justify-self: center;
}
#logo {
    height: 150px;
    justify-self: start;
    border-radius: 10px;
}
header a {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 50px;
    border: black 3px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: gray;
    border-radius: 10px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 10px;
    flex-wrap: wrap;
}

main {
    background-color: #FFF3E0;
    justify-items: center;
    width: 100%;
    padding: 15px 0;
}
.midbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
}
.midbox h2 {
    margin-top: 15px;
}
#heroimg {
    height: 200px;
    width: 200px;
    border: gray 3px solid;
    border-radius: 10px;
}
.tiplist {
    background-color: gray;
    padding: 40px;
    border-radius: 10px;
    border: black 3px solid;
    width: fit-content;
}
.tiplist h3 {
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
    border: none;
    background: none;
}
#iceimages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}
#iceimages img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 300px;
    margin: 0;
    padding-right: 20px;
    transition: transform 0.3s ease;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
#iceimages img:hover {
    transform: scale(1.1);
    animation: shake 0.3s;
}
#vanillaimg{
    height: 650px;
    border: 2px solid grey;
    border-radius: 5px;
}
#chocolateimg{
    height: 650px;
    border: 2px solid grey;
    border-radius: 5px;
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 15px;
}
footer {
    background-color: #8B5E3C;
    padding: 35px;
    justify-items: center;
    align-items: center;
}
#footerbox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 100%;
    background-color: gray;
    justify-items: center;
}
#footerbox p {
    border: black 5px solid;
    margin: 0;
    width: 100%;
    text-align: center;
}