* {
    box-sizing: border-box;
}
body {
    color: white;
}
a {
    text-decoration: none;
}
a:visited {
    color: white;
}
h1, h2, h3, h4 {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    background-color: gray;
}
p, ol, ul {
    font-family: "Crushed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
li {
    margin-bottom: 10px;
}
a {
    font-family: "Crushed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    background-color: #FF6F91;
    height: auto;
    width: auto;
    border: black 7px solid;
}
h1 {
    padding: 40px 100px;
}
#title {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}
#logo {
    height: 150px;
    position: absolute;
    top: 45px;
    left: 45px;
}
header a {
    font-size: 30px;
    font-weight: bold;
    padding: 5px 45px;
    border: black 3px solid;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 15px 10px;
}
main {
    background-color: #FFF3E0;
    justify-items: center;
    width: 100%;
}
#midbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
}
#heroimg {
    height: 200px;
    width: 200px;
}
#tiplist {
    background-color: gray;
    padding: 40px;
}
#tiplist h3 {
    margin-top: 0;
}
#iceimages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}
#iceimages img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 300px;
    margin: 0;
    padding-right: 20px;
    transition: transform 0.3s ease;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
#iceimages img:hover {
    transform: scale(1.1);
    animation: shake 0.3s;
}
#mint {
    background-color: #A8E6CF;
}
#blue {
    background-color: #B3E5FC;
}
#purple {
    background-color: #D7BDE2;
}
footer {
    background-color: #8B5E3C;
    padding: 35px;
    justify-items: center;
    align-items: center;
}
#footerbox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0;
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    background-color: gray;
    justify-items: center;
    width: 100%;
}
#footerbox p {
    border: black 5px solid;
    margin: 0;
    width: 100%;
    text-align: center;
}